<div class="author">
  <img
    class="author-avatar"
    src="{{ site.author.avatar }}"
    alt="{{ site.author.username }}"
  />
  <h2 class="author-name">{{ site.author.name }}</h2>
  <p class="author-bio">{{ site.author.bio }}</p>
  <div class="author-links">
    <a href="https://linkedin.com/in/{{ site.author.linkedin }}" target="_blank" rel="noopener">linkedin</a>
    <a href="https://github.com/{{ site.author.github }}" target="_blank" rel="noopener">github</a>
    <a href="/assets/HS_resume_202609.pdf" target="_blank" rel="noopener">resume</a>
  </div>
</div>
